<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Liste User</title>
		<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
	</head>
	<body>
		<div class="container">
		  <nav class="navbar navbar-default">
		    <div class="container-fluid">
		      <div class="navbar-header">
		        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
		          <span class="sr-only">Toggle navigation</span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </button>
		      </div>
		      
		      <div class="brand-centered">
		      <a class="navbar-brand" href="{$url_base}Accueil/index"><img style="margin-right: 10px; padding: 0;" src="{$url_base}public/image/logo.jpg" alt="Samane">Samane MVC
		      </a>
		      </div>
		      
		      <div id="menu" class="navbar-collapse collapse">
		        <ul class="nav navbar-nav navbar-left">
		          <li ><a href="{$url_base}User/index">Accueil</a></li>
		          <li><a href="{$url_base}User/add">Ajouter Utilisateur</a></li>
		          <li class="active"><a href="{$url_base}User/liste">Liste Utilisateur</a></li>
		        </ul>
		      </div>
		      <!--/.nav-collapse -->
		    </div>
		    <!--/.container-fluid -->
		  </nav>
		  <div class="col-md-8 col-xs-12 col-md-offset-2" style="margin-top:150px;">
			<div class="panel">
				<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
				<div class="panel-body">
					{if isset($Users)}
						{if $Users != null}
							<table class="table table-bordered table-stripped">
								<tr>
									<th>Identifiant</th>
									<th>Login</th>
									<th>Password</th>
									<th>Email</th>
									<th>Action</th>
									<th>Action</th>
								</tr>
								{foreach from=$Users item=User}
									<tr>
										<td>{$User['ID']}</td>
										<td>{$User['login']}</td>
										<td>{$User['password']}</td>
										<td>{$User['email']}</td>
										<td><a href="{$url_base}User/delete/{$User['ID']}">Supprimer</a></td>
										<td><a href="{$url_base}User/edit/{$User['ID']}">Editer</a></td>
									</tr>
								{/foreach}
							</table>
						{else}
							Liste vide
						{/if}
					{/if}
				</div>
				<a href="{$url_base}User/add">Ajout d'un User</a>
			</div>
		</div>
	</div>
	</body>
</html>

	